@font-face { font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf') format('truetype'); }

html {
    margin:0;
    padding:0;
    font: normal 100%/1.4 Georgia, serif;
}

body {
    background-color:#000;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    font-family: "Josefin Sans",sans-serif;
    color: white;
    margin-top: 30px;
}

.col-xs-12 {
    text-align: center;
}



h4 {
  margin-left: : 2cm;
  margin-right: : 2cm;
  line-height: 1.5;
}

hr {
  margin-left: 2cm;
  margin-right: 2cm;
  margin-bottom: 0;
  margin-top: 0;
}

hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
