<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="shortcut icon" type="favicon" href="{{site.baseurl}}/img/favicon.ico">-->
    <title>Julia Ernst</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet"><link>

    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet"><link>

</head>
<body>

<!--
<header>
    <strong>My Personal Website</strong>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/index.html">Home</a> </li>
            <li><a href="{{site.baseurl}}/impressum.html">Impressum</a> </li>
        </ul>
    </nav>
</header>
-->

{{content}}

</body>
</html>
